.common-banner{
    height: 50vh;
    background-image: linear-gradient(rgba(26, 58, 110, 0.5), rgba(26, 58, 110, 0.5)), url('../../images/common-banner.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}